.adminWrap {
  background-color: #eef1f6;
  height: 100vh;
  width: 100vw;

  header {
    max-width: 1280px;
    margin: 0 auto;

    .menu {
      height: 70px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    menu {
      margin: 0;

      button {
        cursor: pointer;
        font-weight: bold;
        margin: 0px 10px 10px 0px;
      }

      .on {
        color: #182f9e;
      }

      a {
        font-weight: bold;

        &:hover {
          color: #182f9e;
        }
      }

      a + a {
        margin-left: 1rem;
      }
    }

    button {
      // logo
      border: 0px;
      background-color: white;
    }

    .logoutBtn {
      display: flex;
      align-items: center;

      img {
        width: 20px;
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
  }

  footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 0px;

    p {
      text-align: center;
      color: #afafaf;
      font-size: 0.8em;
    }
  }
}

.scContainer {
  display: flex;
  justify-content: center;

  .calendarWrap {
    width: 440px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
  }

  .scheduleList {
    padding-top: 2rem;
    width: 440px;
    background-color: white;
    border-radius: 5px;
  }
}

.createSchedule {
  background-color: white;
  border-radius: 5px;

  .selectForeign {
    display: flex;
    margin: 16px 0px;

    button {
      display: block;
      padding: 4px;
      font-size: 1rem;
      border: none;
      width: 120px;
      background-color: white;
      border-radius: 4px;
      margin: 2px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .submitBtnWrap {
    display: flex;
    justify-content: end;

    button {
      border: none;
      background-color: white;
      transition: 0.2s;
      padding: 4px 16px;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
        background-color: #d2d2d2;
      }
    }
  }
}

.userWrap {
  display: flex;
  justify-content: center;
  gap: 2rem;

  .listWrap {
    display: flex;
    gap: 1rem;

    .list {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-top: 8px;

      button {
        text-align: left;
      }
    }
  }
}

.userForm {
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 1.5rem 2rem;

  h3 {
    margin: 0;
    margin-bottom: 1rem;
  }

  label {
    display: block;
  }

  input {
    margin-bottom: 0.5rem;
  }
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
