.result {
  padding: 40px 20px;
}

.rankWrap {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: #182f9e;
  border-radius: 10px;
  color: white;
  padding: 20px 25px;
  max-width: 440px;
  margin: 0 auto;

  .statusWrap {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .status {
      font-size: 0.9em;

      span {
        color: #f7bd4d;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  .count {
    span {
      font-size: 2.5em;
      font-weight: lighter;
      margin-right: 5px;
    }
  }

  .greenCircle {
    position: absolute;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    left: 220px;
    top: -45px;
    background-color: rgb(102, 207, 214);
  }

  .pinkCircle {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 235px;
    bottom: -2px;
    background-color: pink;
  }

  .yellowCircle {
    position: absolute;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    left: 155px;
    bottom: -40px;
    background-color: #f7bd4d;
  }
}

.resultWrap {
  max-width: 440px;
  margin: 0 auto;

  header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #373a44;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    padding: 18px 21px;
    border-radius: 5px 5px 0 0;

    p {
      margin: 0;
    }

    .icon {
      margin-left: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  article {
    border: 1px solid #bcbfc7;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    div {
      background-color: white;
      color: #373a44;
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      text-align: center;
      font-size: 0.8em;
      font-weight: bold;
      padding: 15px 0;

      p {
        margin: 0;
      }
    }

    div + div {
      border-top: 1px solid #e8e8e8;
    }
  }
}
