.layout {
  background-color: #fbfafb;
  min-height: 100vh;
}
.layout header {
  background-color: white;
}
.layout header .menu {
  max-width: 1280px;
  height: 70px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout header .menu button {
  border: 0px;
  background-color: white;
}
.layout header .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.layout header .menu ul li.on {
  color: #30addc;
  list-style: disc;
}
.layout header .menu ul li + li {
  margin-left: 40px;
}
@media only screen and (max-width: 758px) {
  .layout header .menu {
    padding: 0 10px;
    height: 60px;
  }
  .layout header .menu img {
    width: 160px;
  }
  .layout header .menu ul li {
    font-size: 0.9em;
  }
  .layout header .menu ul li.on {
    color: #30addc;
    list-style: none;
  }
  .layout header .menu ul li + li {
    margin-left: 20px;
  }
}
.layout main {
  margin: 100px 0px 50px 0px;
}
.layout .mainWrap {
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  color: #8d8f94;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout .mainWrap h1 {
  font-weight: lighter;
  font-size: 2.6em;
  margin: 20px;
}
.layout .mainWrap h1 span {
  color: #30addc;
}
.layout .mainWrap p {
  font-weight: normal;
  font-size: 0.9em;
}
.layout footer {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #aaa;
  bottom: 0px;
  border-top: 1px solid #eaeaea;
  max-width: 1280px;
}

.koreanWrap .login_gsuite {
  margin-top: 3rem;
}
.koreanWrap .loginBtn {
  margin-top: 1rem;
  width: 320px;
  height: 3em;
  border-radius: 1.5em;
  border: none;
  color: #737373;
  background-color: #efefef;
  padding: 0 3em;
  font-size: 0.9em;
}
.koreanWrap .loginBtn:hover {
  cursor: pointer;
}
.koreanWrap .loginBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.koreanWrap .loginBtn div p {
  font-weight: bold;
}

.foreignWrap form {
  width: 320px;
  margin: 0 auto;
  padding-top: 4rem;
}
.foreignWrap form input {
  display: block;
  width: 320px;
  height: 3.6em;
  border-radius: 1.8em;
  border: 1px solid #e0e0e0;
  padding: 0 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.foreignWrap form input:hover {
  border: 1px solid #30addc;
  background-color: #30aedc10;
}
.foreignWrap form input:focus {
  outline: none;
}
.foreignWrap form input + input {
  margin-top: 10px;
}
.foreignWrap form button {
  display: block;
  width: 320px;
  height: 3em;
  border-radius: 1.8em;
  border: none;
  margin-top: 30px;
  background-color: #30addc;
  color: white;
  font-size: 1em;
}
.foreignWrap form button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=Login.module.css.map */