.calendarWrap {
  padding: 30px;
  font-size: 0.9em;
  font-weight: 600;
  background-color: white;

  span {
    font-size: 1.4em;
  }

  .calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    button {
      border: none;
      font-size: 1.1em;
      background-color: white;
      display: inline;
      padding: 0px;

      &:hover {
        cursor: pointer;
      }
    }

    button + button {
      margin-left: 10px;
    }
  }

  .calendarTable {
    margin: 0 auto;
    text-align: center;
    width: 100%;

    tbody {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 100%;

      .tableHeader {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        font-size: 0.9em;
      }

      .tableRow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      .tableData {
        button {
          background-color: white;
          position: relative;
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 8px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .tableData:after {
        content: "";
        display: block;
        padding-bottom: 60%;
      }
    }
  }
}

.itemWrap {
  background-color: #659cff;
  border-radius: 5px;
  padding: 12px 18px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  margin: 15px;

  p {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
  }

  .reservationsDiv {
    display: flex;
    justify-content: space-between;
    background-color: #5e87fe;
    border-radius: 5px;
    padding: 10px;

    span {
      display: flex;
      align-items: center;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.scheduleListWrap {
  padding: 30px;
  padding-top: 0px;
  background-color: white;

  .content {
    border: 1px solid #e5e5e5;
    background-color: #f5f5f6;
    border-radius: 5px 5px 0 0;

    menu {
      display: flex;
      margin: 0px;
      padding: 0px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;

      button {
        border: none;
        border-bottom: 1px solid #e5e5e5;
        background-color: white;
        width: 25%;
        height: 48px;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        p {
          // '전체'가 오른쪽으로 치우쳐서 바로잡기 위함..
          position: relative;
          bottom: 14px;
        }

        div {
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 3px;
          right: 10px;
          top: 5px;
        }

        &.on {
          border-bottom: none;
          background-color: #f5f5f6;
        }
      }

      button + button {
        border-left: 1px solid #e5e5e5;
      }
    }

    .empty {
      background-color: white;
      text-align: center;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      margin: 20px 50px;
      padding: 15px;
      font-size: 0.8em;
      font-weight: bold;
    }
  }

  .dotsWrap {
    // position: absolute;
    border: 1px solid red;

    div {
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      border: 1px solid red;
    }
  }
}
