.calendarWrap {
  padding: 30px;
  font-size: 0.9em;
  font-weight: 600;
  background-color: white;
}
.calendarWrap span {
  font-size: 1.4em;
}
.calendarWrap .calendarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.calendarWrap .calendarHeader button {
  border: none;
  font-size: 1.1em;
  background-color: white;
  display: inline;
  padding: 0px;
}
.calendarWrap .calendarHeader button:hover {
  cursor: pointer;
}
.calendarWrap .calendarHeader button + button {
  margin-left: 10px;
}
.calendarWrap .calendarTable {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.calendarWrap .calendarTable tbody {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}
.calendarWrap .calendarTable tbody .tableHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
}
.calendarWrap .calendarTable tbody .tableRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.calendarWrap .calendarTable tbody .tableData button {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}
.calendarWrap .calendarTable tbody .tableData button span {
  position: relative;
  font-size: 1em;
  bottom: 6px;
}
.calendarWrap .calendarTable tbody .tableData button:hover {
  cursor: pointer;
}
.calendarWrap .calendarTable tbody .tableData:after {
  content: "";
  display: block;
  padding-bottom: 60%;
}

.scheduleItemWrap {
  border-radius: 5px;
  padding: 12px 18px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  margin: 15px;
}
.scheduleItemWrap p {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}
.scheduleItemWrap .reservationsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #5e87fe;
  border-radius: 5px;
  padding: 10px;
}
.scheduleItemWrap .reservationsDiv span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.scheduleItemWrap:hover {
  cursor: pointer;
}

.scheduleListWrap {
  padding: 30px;
  padding-top: 0px;
  background-color: white;
}
.scheduleListWrap .content {
  border: 1px solid #e5e5e5;
  background-color: #f5f5f6;
  border-radius: 5px 5px 0 0;
}
.scheduleListWrap .content .listWrap {
  padding: 8px;
}
.scheduleListWrap .content menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.scheduleListWrap .content menu button {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  width: 25%;
  height: 48px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.scheduleListWrap .content menu button:hover {
  cursor: pointer;
}
.scheduleListWrap .content menu button p {
  position: relative;
  bottom: 14px;
}
.scheduleListWrap .content menu button div {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  right: 10px;
  top: 5px;
}
.scheduleListWrap .content menu button.on {
  border-bottom: none;
  background-color: #f5f5f6;
}
.scheduleListWrap .content menu button + button {
  border-left: 1px solid #e5e5e5;
}
.scheduleListWrap .content .empty {
  background-color: white;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 20px 50px;
  padding: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.dotsWrap {
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 12px;
}
.dotsWrap div {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
.dotsWrap div + div {
  margin-left: 2px;
}
/*# sourceMappingURL=schedule.module.css.map */