.reservationWrap {
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;

  h3 {
    color: #182f9e;
    margin: 20px 0 10px 0;
  }
}

.statusWrap {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    background-color: #182f9e;
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #9facec;

    li {
      font-size: 0.8em;
      margin: 18px 0px;
    }

    li + li {
      border-left: 1px #09186479 solid;
    }

    p {
      margin: 0px 0px 6px 0px;
      color: white;
      font-size: 1.5rem;
    }
  }
}

.managementWrap {
  margin: 30px 0px;

  .contentWrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 1px 13px 0px rgba(164, 168, 195, 0.3);

    .itemList {
      transition: all 0.2s ease-in-out;
      overflow: hidden;

      .itemWrap {
        background-color: #eef1f6;
        padding: 13px 0px;
        height: 66px;

        p {
          margin: 0px;
          padding: 0px 10px;
          font-size: 0.9em;
          line-height: 20px;
        }
      }

      .itemWrap + .itemWrap {
        border-top: 1px solid #d7dce4;
      }
    }

    button {
      position: relative;
      display: flex;
      align-items: center;
      border: none;
      background-color: #ffffff;
      height: 3rem;
      font-weight: bold;
      text-align: start;
      padding: 30px;
      cursor: pointer;

      img {
        margin-right: 30px;
      }

      .icon {
        font-size: 30px;
        position: absolute;
        right: 30px;
        color: #d3dbe7;
        transition: all 0.2s ease-in-out;
      }

      &:nth-child(3) {
        border-top: 1px solid #eef1f6;
        border-bottom: 1px solid #eef1f6;
      }
    }
  }
}

.cardWrap {
  padding: 2rem;
  background-color: #eef1f6;

  header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #eef1f6;

    h1 {
      margin: 0px;
    }

    p {
      font-weight: bold;
      margin: 0px;

      .userLength {
        color: #f29a00;
        font-size: 1.7em;
      }
    }
  }

  .infoDiv {
    position: relative;
    overflow: hidden;
    background-color: #182f9e;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    margin: 30px 0px;
    height: 100px;
    font-size: 0.9em;
    font-weight: bold;

    .circles {
      span {
        position: absolute;
        border-radius: 50%;
      }

      .greenCircle {
        width: 85px;
        height: 85px;
        left: 220px;
        top: -45px;
        background-color: rgb(102, 207, 214);
      }

      .pinkCircle {
        width: 35px;
        height: 35px;
        left: 235px;
        bottom: -2px;
        background-color: pink;
      }

      .yellowCircle {
        width: 55px;
        height: 55px;
        left: 155px;
        bottom: -40px;
        background-color: #f7bd4d;
      }
    }
  }

  article {
    font-size: 0.85em;
    font-weight: bold;

    p {
      border: 1px solid #bcbfc7;
      border-radius: 5px;
      padding: 15px 20px;
      margin: 2px 0 15px 0;
      color: #1c233d;
      background-color: #dde5ef;
    }

    .term {
      color: #6a6a6a;
      font-weight: normal;
    }

    .termWrap {
      color: #6a6a6a;
      display: flex;
      align-items: center;

      label:hover {
        cursor: pointer;
      }

      input {
        width: 18px;
        height: 18px;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .buttonWrap {
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      button {
        color: white;
        width: 200px;
        height: 60px;
        background-color: #182f9e;
        border-radius: 5px;
        border: none;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}