@mixin video-wrap-base {
  transform: rotateY(180deg);
  position: relative;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
}

@mixin video-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@mixin before-video-base {
  content: "";
  display: block;
  padding-top: 56.25%;
  height: 0;
  width: 100%;
}

.videoWrap {
  background-color: #24272e;

  .videoContent {
    margin: 0 auto;
    height: 100vh;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .peersWrap {
      display: flex;
      justify-content: center;

      .peerVideo {
        @include video-wrap-base();

        width: 25%;
        margin: 10px 5px;

        p {
          position: relative;
          margin: 0;
          bottom: 3%;
          right: 3%;
          font-size: 0.8vw;
          color: white;
          transform: rotateY(180deg);
        }

        video {
          @include video-base();
        }

        &:hover {
          cursor: pointer;
        }
      }

      .peerVideo:before {
        @include before-video-base();
      }
    }

    .video {
      @include video-wrap-base();

      width: 100%;

      p {
        position: relative;
        margin: 0;
        bottom: 2%;
        right: 2%;
        font-size: 1vw;
        color: white;
        transform: rotateY(180deg);
      }

      video {
        @include video-base();
      }
    }

    .video:before {
      @include before-video-base();
    }
  }
}

@mixin icon-base {
  width: 35px;
  height: 35px;
  padding: 9px;
  background-color: white;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}

.buttonWrap {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 10px 0;

  .muteBtn {
    @include icon-base();
  }

  .videoOffBtn {
    @include icon-base();
  }

  .messageBtn {
    @include icon-base();
  }

  .endCallBtn {
    @include icon-base();
    margin-left: 10px;
    width: 80px;
    color: red;
  }

  .checkBtn {
    @include icon-base();
    color: green;
  }
}

.checkWrap {
  h2 {
    margin: 0 0 20px 0;
    font-size: 1.3em;

    span {
      color: #182f9e;
    }
  }

  button {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 8px 13px;
    text-align: start;
    margin-bottom: 10px;
    background-color: #dde5ef;
    border: 1px solid #bcbfc7;
    border-radius: 5px;

    p {
      margin: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.emptyRoom {
  h4 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(73, 73, 73);
    min-width: 200px;
  }
}

.messageWrap {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  max-height: 100vh;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;

  .closeMessage {
    width: 20px;
    height: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  article {
    width: 100%;
    margin-top: 1rem;
    overflow-y: scroll;
    word-break: break-all;
  }

  .sendMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 8px;

    .sendIcon {
      font-size: 1.2em;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      width: 100%;
      height: 2.4em;
      border-radius: 1.2em;
      border: 1px solid #e0e0e0;
      padding: 0 18px;
      transition: 0.2s;

      &:hover {
        border: 1px solid #30addc;
        background-color: #30aedc10;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@mixin message-base {
  max-width: 80%;
  border-radius: 8px;
  font-size: 0.9em;
}

.myMessage {
  display: flex;
  justify-content: end;

  p {
    @include message-base();
    margin: 3px 0;
    padding: 5px 14px;
    background-color: #659cff;
    color: white;
  }
}

.peerMessage {
  label {
    margin: 10px 0 2px 0;
    font-size: 0.7em;
    display: block;
  }

  p {
    @include message-base();
    display: inline-block;
    margin: 0;
    padding: 5px 12px;
    background-color: #e0e0e0;
  }
}
