.videoWrap {
  background-color: #24272e;

  .videoContent {
    margin: 0 auto;
    height: 100vh;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .peersWrap {
      display: flex;
      justify-content: center;

      .peerVideo {
        transform: rotateY(180deg);
        width: 25%;
        position: relative;
        left: 0;
        top: 0px;
        margin: 10px 5px;
        border-radius: 5px;
        overflow: hidden;

        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }

      .peerVideo:before {
        content: "";
        display: block;
        padding-top: 56.25%;
        height: 0;
        width: 100%;
      }
    }

    .video {
      transform: rotateY(180deg);
      width: 100%;
      position: relative;
      right: 0;
      top: 0;
      border-radius: 5px;
      overflow: hidden;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .video:before {
      content: "";
      display: block;
      padding-top: 56.25%;
      height: 0;
      width: 100%;
    }
  }
}
