@mixin video-wrap-base {
  transform: rotateY(180deg);
  position: relative;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
}

@mixin video-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@mixin before-video-base {
  content: "";
  display: block;
  padding-top: 56.25%;
  height: 0;
  width: 100%;
}

.videoWrap {
  background-color: #24272e;

  .videoContent {
    margin: 0 auto;
    height: 100vh;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .peersWrap {
      display: flex;
      justify-content: center;

      .peerVideo {
        @include video-wrap-base();

        width: 25%;
        margin: 10px 5px;

        video {
          @include video-base();
        }
      }

      .peerVideo:before {
        @include before-video-base();
      }
    }

    .video {
      @include video-wrap-base();

      width: 100%;

      video {
        @include video-base();
      }
    }

    .video:before {
      @include before-video-base();
    }
  }
}

@mixin icon-base {
  width: 35px;
  height: 35px;
  padding: 9px;
  background-color: white;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}

.buttonWrap {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 10px 0;

  .muteBtn {
    @include icon-base();
  }

  .videoOffBtn {
    @include icon-base();
  }

  .endCallBtn {
    @include icon-base();
    width: 80px;
    color: red;
  }

  .checkBtn {
    @include icon-base();
    color: green;
  }
}

.checkWrap {
  h2 {
    margin: 0 0 20px 0;
    font-size: 1.3em;

    span {
      color: #182f9e;
    }
  }

  button {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 8px 13px;
    text-align: start;
    margin-bottom: 10px;
    background-color: #dde5ef;
    border: 1px solid #bcbfc7;
    border-radius: 5px;

    p {
      margin: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
